main {
  min-height: calc(100vh - 64px - 80px);
}

.footer {
  border-top: 1px solid #e0e0e0;
  padding: 0.5rem 0;
  margin-top: 0.5rem;

  &-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: right;
    color: #999;
    font-size: 0.7rem;
  }
}
